
            <% for (let comment of post.comments) { %>
              <a class="streched-link" href="/users/<%=comment.user.username%>"><p class="post-username-comment">@<%=comment.user.username%></p></a>
              <p class="post-comment-content"><%=comment.text%></p>
              <br>
            <% } %> 