<!DOCTYPE html>
<html lang="en">

<%- include('partials/head')%>

<body>
    <%- include('partials/headerLoggedOn')%>

    <main>
        <div class="uk-section uk-section-small">
            <div class="uk-container uk-container-large uk-flex uk-flex-middle uk-flex-center">
                <form action="">
                    
                    <h2>Editar perfil</h2>

                    <label for="">Nombre</label>
                    <input type="text">
                    <br>
                    <label for="">Apellido</label>
                    <input type="text">
                    <br>
                    <label for="">Nombre de usuario</label>
                    <input type="text">
                    <br>
                    <label for="">Sitio web</label>
                    <input type="text">
                    <br>
                    <label for="">Presentación</label>
                    <input type="text">
                    <br>

            
                </form>
            </div>
        </div>
    </main>

    <%- include('partials/footer')%>


</body>

</html>