<!DOCTYPE html>
<html lang="en">
  <%- include('partials/head') %>  
  
  <head>
    <title>New Post | Sweet Avenue</title>
    <link rel="stylesheet" href="/css/newPost.css"> 
  </head>

  <body>
    <%- include('partials/header')%>

    <% if (locals.userLoggedOn && userLoggedOn) { %> 

    <h4 class="title">Nueva receta</h4>

    <form action="/posts/publish" class="new-post" method="POST" enctype="multipart/form-data"> 
      <div class="input-group">
        <span class="input-group-text">Title</span>
        <input type="text" aria-label="Title" name="name" class="form-control">
      </div>
      
      <div class="input-group">
        <span class="input-group-text">Description</span>
        <textarea class="form-control" aria-label="With textarea" name="description"></textarea>
      </div>
      
      <div class="input-group">
          <span class="input-group-text">Ingredients</span>
          <textarea class="form-control" aria-label="With textarea" name="ingredients"></textarea>
      </div>
      
      <div class="input-group">
          <span class="input-group-text">Instructions</span>
          <textarea class="form-control" aria-label="With textarea" name="instructions"></textarea>
      </div>
      
      <div class="input-group mb-3">
        <label class="input-group-text" for="inputGroupFile01">Image</label>
        <input type="file" accept=".jpg, .png, .jpeg" class="form-control" name="picture" id="inputGroupFile01">
      </div>
      
      <button type="submit" class="btn btn-primary">Done</button>
    </form>
    <% } else { %> 
      <h4>Debes loguearte para crear un nuevo posteo.</h4>
      <p>¿No tenes una cuenta? <a href="/register">Registrate acá</a></p>
    <% } %> 

    <%- include('partials/footer') %> 
  </body>
</html>