<!DOCTYPE html>
<html lang="en">

<%- include('partials/head')%>

<body>
    <%- include('partials/headerLoggedOn')%>

    <main>
        <div class="uk-section uk-section-small">
            <div class="uk-container uk-container-large uk-flex">
                <form action="">
                    <h2>Compartir nueva receta</h2>

                    <label for="">Nombre</label>
                    <input type="text">
                    <br>
                    <label for="">Foto</label>
                    <input type="file">
                    <br>
                    <label for="">Ingredientes</label>
                    <input type="textarea">
                    <br>
                    <label for="">Paso a paso</label>
                    <input type="textarea">
                    <br>

                </form>

            </div>
        </div>
    </main>
    
    <%- include('partials/footer')%>

</body>

</html>