<!DOCTYPE html>
<html lang="en">
  <%- include('partials/head') %>  <%# incluimos el head comun %>
  
  <head>
    <title>New Post | Sweet Avenue</title>
    <link rel="stylesheet" href="/css/newPost.css"> <%# incluimos el css que solo sirve para nuevos posteos %>
  </head>

  <body>
    <%- include('partials/headerLoggedOn') %>  <%# incluimos el header de cuando estamos logeados %>

    <h4 class="title">Share a new recepie</h4>

    <form action="/" class="new-post"> <%# formulario para nuevo posteo %>
      <div class="input-group">
        <span class="input-group-text">Title</span>
        <input type="text" aria-label="Title" name="title" class="form-control">
      </div>
      
      <div class="input-group">
        <span class="input-group-text">Description</span>
        <textarea class="form-control" aria-label="With textarea" name="description"></textarea>
      </div>
      
      <div class="input-group">
          <span class="input-group-text">Ingredients</span>
          <textarea class="form-control" aria-label="With textarea" name="ingredients"></textarea>
      </div>
      
      <div class="input-group">
          <span class="input-group-text">Instructions</span>
          <textarea class="form-control" aria-label="With textarea" name="instructions"></textarea>
      </div>
      
      <div class="input-group mb-3">
        <label class="input-group-text" for="inputGroupFile01">Image</label>
        <input type="file" accept=".jpg, .png, .jpeg" class="form-control" name="picture" id="inputGroupFile01">
      </div>
      
      <button type="submit" class="btn btn-primary">Done</button>
    </form>

    <%- include('partials/footer') %> <%# incluimos el footer comun %>
  </body>
</html>