<!DOCTYPE html>
<html lang="en">
  <%- include('partials/head') %>  
  
  <head>
    <title>New Post | Sweet Avenue</title>
    <link rel="stylesheet" href="/css/newPost.css"> 
  </head>

  <body>
    <%- include('partials/header')%>

    <% if (locals.userLoggedOn && userLoggedOn) { %> 

    <h4 class="title">Nueva receta</h4>

    <form action="/posts/publish" class="new-post" method="POST" enctype="multipart/form-data"> 
      <div class="input-group">
        <span class="input-group-text">Titulo</span>
        <input required type="text" aria-label="Title" name="name" class="form-control">
      </div>
      
      <div class="input-group">
        <span class="input-group-text">Descripción</span>
        <textarea required class="form-control" aria-label="With textarea" name="description"></textarea>
      </div>
      
      <div class="input-group">
          <span class="input-group-text">Ingredientes</span>
          <textarea required class="form-control" aria-label="With textarea" name="ingredients"></textarea>
      </div>
      
      <div class="input-group">
          <span class="input-group-text">Instrucciones</span>
          <textarea required class="form-control" aria-label="With textarea" name="instructions"></textarea>
      </div>
      
      <div class="input-group mb-3">
        <label class="input-group-text" for="inputGroupFile01">Imagen</label>
        <input required type="file" accept=".jpg, .png, .jpeg" class="form-control" name="picture" id="inputGroupFile01">
      </div>
      
      <button type="submit" class="actions btn btn-primary">Hecho</button>
    </form>

    <div class="input-group">
      <form action="/users/myprofile/<%= userLoggedOn.username %>" method="GET" class="cancel">
        <button type="submit" class="button.actions" class="btn btn-primary">Cancelar</button>
      </form>
    </div>

    <% } else { %>
      <div class="card">
        <div class="card-body">
          <h4>Debes loguearte para crear un nuevo posteo.</h4>
          <p>¿No tenes una cuenta? <a href="/register">Registrate acá</a></p>
        </div>
      </div>
      
    <% } %> 

    <%- include('partials/footer') %> 
  </body>
</html>