<!DOCTYPE html>
<html lang="en">

<%- include('partials/head')%>

<body>
    <%- include('partials/headerLoggedOff')%>

    <main>
        <div class="uk-section uk-section-small">
            <div class="uk-container uk-container-large uk-flex uk-flex-middle uk-flex-center">
                <form action="">
                    
                    <h2>Registrate</h2>

                    <label for="">Nombre</label>
                    <input type="text">
                    <br>
                    <label for="">Apellido</label>
                    <input type="text">
                    <br>
                    <label for="">Nombre de usuario</label>
                    <input type="text">
                    <br>
                    <label for="">Mail</label>
                    <input type="text">
                    <br>
                    <label for="">Contraseña</label>
                    <input type="text">
                    <br>
                    <label for="">Nivel</label>
                    <select name="" id="">
                        <option value="0">Seleccionar</option>
                        <option value="1">Principiante</option>
                        <option value="2">Avanzado</option>
                        <option value="3">Experto</option>
                    </select>
            
                </form>
            </div>
        </div>
    </main>

<%- include('partials/footer')%>

</body>

</html>