<!DOCTYPE html>
<html lang="en">

  <%- include('partials/head') %>
  <head>
    <title>Search Results | Sweet Avenue</title>
    <link rel="stylesheet" href="/css/searchResults.css"> 
  </head>
  
  <body>
    <%- include('partials/headerLoggedOn')%> 
    <h4 class="title"> Showing results for "<%= search %>"</h4>

    <main> 
      <p>No results match your search.</p>
    </main>

    <%- include('partials/footer') %> 

  </body>
    
</html>