form.new-post {
    padding: 0px 300px;
}

h4.title {
    margin: 10px;
    text-align: center;
}

div.input-group {
    margin: 16px;
}

button.actions {
    margin-left: 16px;
    background-color: #65bbaa!important;
    border-color: #65bbaa!important;
}

button.actions:hover {
    margin-left: 16px;
    background-color: #459787!important;
    border-color: #459787!important;
}

.card {
    margin: 3vw 5vw;
}